<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="date-picker">
        <label for="date-input">Choisir une date:</label>
        <div class="input-container">
            <input type="date" id="date-input" class="date-input">
            <img src="../assets/icons/calendar.svg" alt="Calendar Icon" class="calendar-icon">
        </div>
    </div>
</body>
</html>